/* Specific styles for profile page */
.profile-container {
    background-color: #2c2c2c;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    text-align: center;
    margin: 50px auto;
}

.profile-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-photo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 60%;
    margin-bottom: 20px;
    background-color: #ccc;
    border-color: white;
}

.change-photo-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.profile-info-section {
    width: 100%;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.profile-form label {
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
}

.profile-form input {
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
}

.save-changes-button {
    background-color: #ffc107;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}
